# Environment variables
WORKSPACE_ID=c2423d97-5c8f-446a-b853-c82c97ff7356
CONVERSATION_USERNAME=3d9dd1f5-7f2b-4678-8e18-d0c21ece0c53
CONVERSATION_PASSWORD=FnfS6J7ujpwY

###################################################
# Optional params, delete any which are not used! #
###################################################

# Params to enable Text to Speech
TEXT_TO_SPEECH_USERNAME=
TEXT_TO_SPEECH_PASSWORD=

# Params to enable Speech to Text
SPEECH_TO_TEXT_USERNAME=
SPEECH_TO_TEXT_PASSWORD=
